body{
    font-family: "Montserrat";
    margin: 0;
}
$primary-color:#00065B;
$secondary-color:#06EB83;

.container{
    max-width: 1400px;
    margin: auto;
    padding: 0 20px;
}
.active ul.header-menu__main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    background: #e9e9e9;
    z-index: -1;
    height: 100vh;
    place-content: center;
    margin: 0;
    text-align: center;
    padding: 0;

}
ul.sub-menu.sub-menu--first.active {
    display: block !important;
    transition: linear 0.2s all;
}
ul.sub-menu.sub-menu--second.active {
    display: block !important;
    transition: linear 0.2s all;
    padding: 0;
    margin: 0px;
    font-size: 10px;
    & li{
        padding-left: 10px;
    }
}
.header{
    padding: 32px 0;
    z-index: 1000;
    position: relative;
    &-inner{
        display: flex;
        align-items:center;
        justify-content: space-between;
    }
    &-menu{
        & .bar {
            width: 30px;
            height: 3px;
            background-color: $primary-color;
            margin: 6px 0;
        }
        & .menu-toggle {
            display: none;
            flex-direction: column;
            cursor: pointer;
            padding: 10px;
            @media (max-width:900px){
               display: block;
            }
        }
        &__main{
            display: flex;
            gap: 32px;
            list-style: none;
            @media (max-width:900px){
                display: none;
            }

            & li{
                transition: linear 0.2s all;
                &:hover .sub-menu--first{
                    display: block;
                    @media (max-width:900px){
                        display: none;

                    }
                }
                
                & a{
                    text-decoration: none;
                    font-weight: 700;
                    color:$primary-color;
                    text-transform: uppercase;
                   
                   
                }
            }
            &.hover-first:hover .sub-menu--first {
                display: block !important;
                transform: translateY(0);
                opacity: 1;
                @media (max-width:900px){
                    display: none;

                }
            }
            &.hover-second:hover .sub-menu--second {
                display: block !important;
                transform: translateY(0);
                opacity: 1;
                @media (max-width:900px){
                    display: none;

                }
            }
               
            & .sub-menu{
                display: none;
                padding: 0;
                margin: 0;
                list-style: none;
                background: white;
                width: 240px;
                box-shadow: 0px 3px 15px #00065B1A;
                opacity: 0;
                &--first{
                    display: none ;
                    position: absolute;
                    transform: translateY(0px);
                    transition: linear 0.2s all;
                    opacity: 1;
                    @media (max-width:900px){
                        display: none;
                        position: relative;                     
                        font-size: 12px;
                        margin: 15px;

                    }
                }
                & img{
                    @media (max-width:900px){
                        display: none;
                    }
                }
                &--second{
                    background:white;
                    display: none ;
                    position: absolute;
                    top: 0;
                    left: 230px;
                    transition: linear 0.2s all;
                    opacity: 1;
                    @media (max-width:900px){
                        display: none;
                        position: relative;                     
                        font-size: 12px;
                        margin: 15px;
                        left: 0;

                    }
                }
                & li{
                    
                    border-bottom:1px solid #E7F0FF;
                    display: flex;
                    justify-content: space-between;
                    padding-right: 25px;
                    @media (max-width:900px){
                        display: block;
  
                      }
                    &:hover .sub-menu--second{
                        display: block;
                        @media (max-width:900px){
                           display: none;
     
                         }
                    }
                    &:hover{
                        background-color:beige;
                        transition: linear 0.2s all;
                    }
                    
                    & a{
                        padding: 16px;
                        display: flex;
                        width: 100%;
                        @media (max-width:900px){
                           padding: 10px;
    
                        }
                    }
                    &:last-child{
                        border-bottom:none;
                    }
                }
            }
        }
    }
}

.primary-btn{
    padding: 16px 40px;
    font-size: 16px;
    color: $secondary-color;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 3px 15px #00065B1A;
    border-radius: 8px;
    border: 1px solid #E7F0FF;
    transition: linear 0.2s all;
    text-transform: uppercase;
    &:hover{
        background-color:#E7F0FF;
        color:$primary-color;
        transition: linear 0.2s all;
        box-shadow: 0 3px 15px #00065B4D;
    }
    &:active,
    &:focus{
        color:white;
        background-color:#264AFB;
    }
}
.secondary-btn{
    padding: 16px 40px;
    font-size: 16px;
    color: $primary-color;
    background-color:$secondary-color;
    font-weight: 700;
    text-decoration: none;
    border-radius:8px;
    transition: linear 0.2s all;
    text-transform: uppercase;
    &:hover{
        background-color:#009E61;
        border-bottom: 2px solid $primary-color;
    }
}
.hero{
    padding-bottom: 112px;
    @media (max-width:600px){
        padding-bottom: 60px;
    }
    &-inner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        @media (max-width:1110px){
            grid-template-columns: 1fr;
        }
    }
    &-content{
        &__title{
            font-weight: 700;
            font-size: 48px;
            line-height: 1.25;
            color: $primary-color;
            margin: 0;
            margin-bottom: 16px;
            @media (max-width:599px){
                font-size: 30px;
            }
        }
        &__text{
            font-size: 16px;
            line-height: 1.5;
            color: $primary-color;
            margin: 0;
            font-weight: 500;
        }
        &__btn{
            display: flex;
            margin-top: 64px;
            gap:32px;
            @media (max-width:599px){
                display: grid;
                gap: 45px;
            }
        }
    }
    &-img{
        & img{
            width: 100%;
        }
    }
}
.about{
    padding: 112px 0;
    @media (max-width:600px){
        padding: 60px 0;
    }
    &-inner{
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr;
        @media (max-width:1110px){
            grid-template-columns: 1fr;
        }
    }
    &-blue{
        background-color: #E7F0FF;
    }
    &-content{
        & h2{
            font-size: 32px;
            font-weight: 700;
            color: $primary-color;
            margin: 0;
            margin-bottom: 16px;
            @media (max-width:599px){
               font-size: 26px;
            }
        }
        & p{
            font-size: 16px;
            color: $primary-color;
            font-weight: 500;
            line-height: 1.5;
            margin: 0;
            margin-bottom: 16px;
        }
        & ul{
            font-size: 16px;
            margin: 0;
            color: $primary-color;
            font-weight: 500;
            line-height: 1.5;
            padding-left: 20px;
            margin-bottom: 64px;
        }
        &__btn{
            margin-top: 64px;
        }
    }
    &-img{
        & img{
            width: 100%;
        }
    }
}

.services{
    
    & .container{
        border-bottom:8px solid #E7F0FF;
        padding-bottom: 112px;
    }
    &-title{
        text-align: center;
        color:$primary-color;
        font-size: 32px;
        margin: 0;
        margin: 24px;
        @media (max-width:599px){
            font-size: 26px;
        }
    }
    &-text{
        color:$primary-color;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        margin: auto;
        max-width: 928px;
        line-height: 1.5;
    }
    &-btn{
        &__wrap{
            margin-top: 64px;
            margin-bottom: 64px;
            display: flex;
            justify-content: center;
            gap: 32px;
            @media (max-width:899px){
                flex-direction: column;
                gap: 15px;
            }
        }
    }
    &-item{
        text-align: center;

        width: calc(25% - 32px);
        @media (max-width:1199px){
            width: calc(33% - 32px);
        }
        @media (max-width:899px){
            width: calc(50% - 32px);
        }
        @media (max-width:699px){
            width: calc(100% - 0px);
        }

        & h3{
            
            margin: 16px 0;
            color:$primary-color;
            font-weight: 700;
        }
        & p{
            color:$primary-color;
            line-height: 1.5;
            margin: 0;
        }
        &__btn{
            display: flex;
            justify-content: center;
            margin-top: 64px;
            padding-bottom: 32px;
            @media (max-width:599px){
                margin-top: 10px;
            }
           
        }
        &__img{
            & img{
                width: 100%;
                height: 332px;
                object-fit: cover;
            }
        }
        &__wrap{
            display: flex;
            box-sizing: border-box;
            flex-wrap: wrap;
            gap: 32px;
            justify-content: center;
            @media (max-width:599px){
                gap: 0;
            }
            
        }
    }
}
.footer{
    padding: 43px 64px;
    @media (max-width:1399px){
        padding: 43px 0;
    }
    &-logo{
        @media (max-width:900px){
            text-align: center;
            padding-bottom: 25px;
        }
       
    }
    &-inner{
        display: grid;
        justify-content: space-between;
        align-items:center;
        grid-template-columns: 1fr 1fr 1fr;
        @media (max-width:1399px){
            display: flex;
        }
        @media (max-width:900px){
            display: block;
        }
    }
    &-menu{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        gap: 32px;
        @media (max-width:900px){
            justify-content: center;
            padding-bottom: 25px;
        }
        @media (max-width:599px){
            display: block;
            text-align: center;
         }
        & a{
            text-decoration: none;
            font-weight: 700;
            color:$secondary-color;

        }
    }
    &-copy{
        color:$primary-color;
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        text-align: end;
        @media (max-width:900px){
           text-align: center;
        }
    }

}