body {
  font-family: "Montserrat";
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;
}

.active ul.header-menu__main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  background: #e9e9e9;
  z-index: -1;
  height: 100vh;
  place-content: center;
  margin: 0;
  text-align: center;
  padding: 0;
}

ul.sub-menu.sub-menu--first.active {
  display: block !important;
  transition: linear 0.2s all;
}

ul.sub-menu.sub-menu--second.active {
  display: block !important;
  transition: linear 0.2s all;
  padding: 0;
  margin: 0px;
  font-size: 10px;
}
ul.sub-menu.sub-menu--second.active li {
  padding-left: 10px;
}

.header {
  padding: 32px 0;
  z-index: 1000;
  position: relative;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu .bar {
  width: 30px;
  height: 3px;
  background-color: #00065B;
  margin: 6px 0;
}
.header-menu .menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}
@media (max-width: 900px) {
  .header-menu .menu-toggle {
    display: block;
  }
}
.header-menu__main {
  display: flex;
  gap: 32px;
  list-style: none;
}
@media (max-width: 900px) {
  .header-menu__main {
    display: none;
  }
}
.header-menu__main li {
  transition: linear 0.2s all;
}
.header-menu__main li:hover .sub-menu--first {
  display: block;
}
@media (max-width: 900px) {
  .header-menu__main li:hover .sub-menu--first {
    display: none;
  }
}
.header-menu__main li a {
  text-decoration: none;
  font-weight: 700;
  color: #00065B;
  text-transform: uppercase;
}
.header-menu__main.hover-first:hover .sub-menu--first {
  display: block !important;
  transform: translateY(0);
  opacity: 1;
}
@media (max-width: 900px) {
  .header-menu__main.hover-first:hover .sub-menu--first {
    display: none;
  }
}
.header-menu__main.hover-second:hover .sub-menu--second {
  display: block !important;
  transform: translateY(0);
  opacity: 1;
}
@media (max-width: 900px) {
  .header-menu__main.hover-second:hover .sub-menu--second {
    display: none;
  }
}
.header-menu__main .sub-menu {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  background: white;
  width: 240px;
  box-shadow: 0px 3px 15px rgba(0, 6, 91, 0.1019607843);
  opacity: 0;
}
.header-menu__main .sub-menu--first {
  display: none;
  position: absolute;
  transform: translateY(0px);
  transition: linear 0.2s all;
  opacity: 1;
}
@media (max-width: 900px) {
  .header-menu__main .sub-menu--first {
    display: none;
    position: relative;
    font-size: 12px;
    margin: 15px;
  }
}
@media (max-width: 900px) {
  .header-menu__main .sub-menu img {
    display: none;
  }
}
.header-menu__main .sub-menu--second {
  background: white;
  display: none;
  position: absolute;
  top: 0;
  left: 230px;
  transition: linear 0.2s all;
  opacity: 1;
}
@media (max-width: 900px) {
  .header-menu__main .sub-menu--second {
    display: none;
    position: relative;
    font-size: 12px;
    margin: 15px;
    left: 0;
  }
}
.header-menu__main .sub-menu li {
  border-bottom: 1px solid #E7F0FF;
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}
@media (max-width: 900px) {
  .header-menu__main .sub-menu li {
    display: block;
  }
}
.header-menu__main .sub-menu li:hover .sub-menu--second {
  display: block;
}
@media (max-width: 900px) {
  .header-menu__main .sub-menu li:hover .sub-menu--second {
    display: none;
  }
}
.header-menu__main .sub-menu li:hover {
  background-color: beige;
  transition: linear 0.2s all;
}
.header-menu__main .sub-menu li a {
  padding: 16px;
  display: flex;
  width: 100%;
}
@media (max-width: 900px) {
  .header-menu__main .sub-menu li a {
    padding: 10px;
  }
}
.header-menu__main .sub-menu li:last-child {
  border-bottom: none;
}

.primary-btn {
  padding: 16px 40px;
  font-size: 16px;
  color: #06EB83;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0 3px 15px rgba(0, 6, 91, 0.1019607843);
  border-radius: 8px;
  border: 1px solid #E7F0FF;
  transition: linear 0.2s all;
  text-transform: uppercase;
}
.primary-btn:hover {
  background-color: #E7F0FF;
  color: #00065B;
  transition: linear 0.2s all;
  box-shadow: 0 3px 15px rgba(0, 6, 91, 0.3019607843);
}
.primary-btn:active, .primary-btn:focus {
  color: white;
  background-color: #264AFB;
}

.secondary-btn {
  padding: 16px 40px;
  font-size: 16px;
  color: #00065B;
  background-color: #06EB83;
  font-weight: 700;
  text-decoration: none;
  border-radius: 8px;
  transition: linear 0.2s all;
  text-transform: uppercase;
}
.secondary-btn:hover {
  background-color: #009E61;
  border-bottom: 2px solid #00065B;
}

.hero {
  padding-bottom: 112px;
}
@media (max-width: 600px) {
  .hero {
    padding-bottom: 60px;
  }
}
.hero-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 1110px) {
  .hero-inner {
    grid-template-columns: 1fr;
  }
}
.hero-content__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.25;
  color: #00065B;
  margin: 0;
  margin-bottom: 16px;
}
@media (max-width: 599px) {
  .hero-content__title {
    font-size: 30px;
  }
}
.hero-content__text {
  font-size: 16px;
  line-height: 1.5;
  color: #00065B;
  margin: 0;
  font-weight: 500;
}
.hero-content__btn {
  display: flex;
  margin-top: 64px;
  gap: 32px;
}
@media (max-width: 599px) {
  .hero-content__btn {
    display: grid;
    gap: 45px;
  }
}
.hero-img img {
  width: 100%;
}

.about {
  padding: 112px 0;
}
@media (max-width: 600px) {
  .about {
    padding: 60px 0;
  }
}
.about-inner {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 1110px) {
  .about-inner {
    grid-template-columns: 1fr;
  }
}
.about-blue {
  background-color: #E7F0FF;
}
.about-content h2 {
  font-size: 32px;
  font-weight: 700;
  color: #00065B;
  margin: 0;
  margin-bottom: 16px;
}
@media (max-width: 599px) {
  .about-content h2 {
    font-size: 26px;
  }
}
.about-content p {
  font-size: 16px;
  color: #00065B;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 16px;
}
.about-content ul {
  font-size: 16px;
  margin: 0;
  color: #00065B;
  font-weight: 500;
  line-height: 1.5;
  padding-left: 20px;
  margin-bottom: 64px;
}
.about-content__btn {
  margin-top: 64px;
}
.about-img img {
  width: 100%;
}

.services .container {
  border-bottom: 8px solid #E7F0FF;
  padding-bottom: 112px;
}
.services-title {
  text-align: center;
  color: #00065B;
  font-size: 32px;
  margin: 0;
  margin: 24px;
}
@media (max-width: 599px) {
  .services-title {
    font-size: 26px;
  }
}
.services-text {
  color: #00065B;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin: auto;
  max-width: 928px;
  line-height: 1.5;
}
.services-btn__wrap {
  margin-top: 64px;
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
  gap: 32px;
}
@media (max-width: 899px) {
  .services-btn__wrap {
    flex-direction: column;
    gap: 15px;
  }
}
.services-item {
  text-align: center;
  width: calc(25% - 32px);
}
@media (max-width: 1199px) {
  .services-item {
    width: calc(33% - 32px);
  }
}
@media (max-width: 899px) {
  .services-item {
    width: calc(50% - 32px);
  }
}
@media (max-width: 699px) {
  .services-item {
    width: calc(100% - 0px);
  }
}
.services-item h3 {
  margin: 16px 0;
  color: #00065B;
  font-weight: 700;
}
.services-item p {
  color: #00065B;
  line-height: 1.5;
  margin: 0;
}
.services-item__btn {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  padding-bottom: 32px;
}
@media (max-width: 599px) {
  .services-item__btn {
    margin-top: 10px;
  }
}
.services-item__img img {
  width: 100%;
  height: 332px;
  -o-object-fit: cover;
     object-fit: cover;
}
.services-item__wrap {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}
@media (max-width: 599px) {
  .services-item__wrap {
    gap: 0;
  }
}

.footer {
  padding: 43px 64px;
}
@media (max-width: 1399px) {
  .footer {
    padding: 43px 0;
  }
}
@media (max-width: 900px) {
  .footer-logo {
    text-align: center;
    padding-bottom: 25px;
  }
}
.footer-inner {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 1399px) {
  .footer-inner {
    display: flex;
  }
}
@media (max-width: 900px) {
  .footer-inner {
    display: block;
  }
}
.footer-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 32px;
}
@media (max-width: 900px) {
  .footer-menu {
    justify-content: center;
    padding-bottom: 25px;
  }
}
@media (max-width: 599px) {
  .footer-menu {
    display: block;
    text-align: center;
  }
}
.footer-menu a {
  text-decoration: none;
  font-weight: 700;
  color: #06EB83;
}
.footer-copy {
  color: #00065B;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  text-align: end;
}
@media (max-width: 900px) {
  .footer-copy {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */